## Lab 2 Solution

In [1]:
from common import Common
from pyspark.sql import functions as F
from pyspark.sql.types import *
from pyspark.sql.functions import udf, struct
from pyspark.sql.types import Row
from pyspark.sql.functions import explode
from pyspark.sql.functions import col, asc
from pyspark.sql.functions import col, count, isnan, lit, sum

In [2]:
## Do not run this multiple times
common = Common()
sc,spark = common.get_spark_sql()

<SparkContext master=local appName=myapp>
2.4.5

In [3]:
spark.sql("show databases").show()
spark.sql("show tables in default").show()

+------------+
|databaseName|
+------------+
|     default|
+------------+

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
+--------+---------+-----------+

In [4]:
# file paths
train_file = '/home/ec2-user/data/train.csv'
test_file = '/home/ec2-user/data/test.csv'

## Question 1

In [5]:
train = spark.read.option("header", "true").option("mode", "DROPMALFORMED").csv(train_file)
test = spark.read.option("header", "true").option("mode", "DROPMALFORMED").csv(test_file)

In [6]:
print ('\nTrain count: ', train.count())
print ('Test count: ', test.count())

print ('\nTrain dtypes: ', train.dtypes)
print ('Test dtypes: ', test.dtypes)

print ('\n')
train.show(5)
test.show(5)

Train count:  99999
Test count:  59999

Train dtypes:  [('User_ID', 'string'), ('Product_ID', 'string'), ('Gender', 'string'), ('Age', 'string'), ('Occupation', 'string'), ('City_Category', 'string'), ('Stay_In_Current_City_Years', 'string'), ('Marital_Status', 'string'), ('Product_Category_1', 'string'), ('Product_Category_2', 'string'), ('Product_Category_3', 'string'), ('Purchase', 'string')]
Test dtypes:  [('User_ID', 'string'), ('Product_ID', 'string'), ('Gender', 'string'), ('Age', 'string'), ('Occupation', 'string'), ('City_Category', 'string'), ('Stay_In_Current_City_Years', 'string'), ('Marital_Status', 'string'), ('Product_Category_1', 'string'), ('Product_Category_2', 'string'), ('Product_Category_3', 'string')]


+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender| Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1000001| P00069042|     F|0-17|        10|            A|                         2|             0|                 3|              null|              null|    8370|
|1000001| P00248942|     F|0-17|        10|            A|                         2|             0|                 1|                 6|                14|   15200|
|1000001| P00087842|     F|0-17|        10|            A|                         2|             0|                12|              null|              null|    1422|
|1000001| P00085442|     F|0-17|        10|            A|                         2|             0|                12|                14|              null|    1057|
|1000002| P00285442|     M| 55+|        16|            C|                        4+|             0|                 8|              null|              null|    7969|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 5 rows

+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+
|User_ID|Product_ID|Gender|  Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+
|1000004| P00128942|     M|46-50|         7|            B|                         2|             1|                 1|                11|              null|
|1000009| P00113442|     M|26-35|        17|            C|                         0|             0|                 3|                 5|              null|
|1000010| P00288442|     F|36-45|         1|            B|                        4+|             1|                 5|                14|              null|
|1000010| P00145342|     F|36-45|         1|            B|                        4+|             1|                 4|                 9|              null|
|1000011| P00053842|     F|26-35|         1|            C|                         1|             0|                 4|                 5|                12|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+
only showing top 5 rows

## Question 2

In [7]:
train_cols = train.columns
print ('Train columns: ', train_cols)

test_cols = test.columns
print ('\nTest columns: ', test_cols)

extra_in_train = [i for i in train_cols if i not in test_cols]
print ('\nExtra col in train df: ', extra_in_train)

extra_in_test = [i for i in test_cols if i not in train_cols]
print ('\nExtra col in train df: ', extra_in_test)

Train columns:  ['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category', 'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1', 'Product_Category_2', 'Product_Category_3', 'Purchase']

Test columns:  ['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category', 'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1', 'Product_Category_2', 'Product_Category_3']

Extra col in train df:  ['Purchase']

Extra col in train df:  []

## Question 3

In [8]:
train.describe().show()

+-------+------------------+----------+------+-----+-----------------+-------------+--------------------------+------------------+------------------+------------------+------------------+-----------------+
|summary|           User_ID|Product_ID|Gender|  Age|       Occupation|City_Category|Stay_In_Current_City_Years|    Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|         Purchase|
+-------+------------------+----------+------+-----+-----------------+-------------+--------------------------+------------------+------------------+------------------+------------------+-----------------+
|  count|             99999|     99999| 99999|99999|            99999|        99999|                     99999|             99999|             99999|             68817|             30498|            99999|
|   mean|1002739.6807668076|      null|  null| null| 8.09130091300913|         null|         1.473904807009235|0.4088140881408814| 5.301783017830179| 9.857113794556577|12.658403829759328|9298.262472624727|
| stddev|1684.2043853258833|      null|  null| null|6.529135993297914|         null|        0.9917876726202015|0.4916172763217875| 3.734665564065499| 5.083852788136267| 4.123400865999158|4966.842464095267|
|    min|           1000001| P00000142|     F| 0-17|                0|            A|                         0|                 0|                 1|                10|                10|            10000|
|    max|           1006040|  P0099942|     M|  55+|                9|            C|                        4+|                 1|                 9|                 9|                 9|             9999|
+-------+------------------+----------+------+-----+-----------------+-------------+--------------------------+------------------+------------------+------------------+------------------+-----------------+

In [9]:
test.describe().show()

+-------+------------------+----------+------+-----+-----------------+-------------+--------------------------+------------------+------------------+------------------+------------------+
|summary|           User_ID|Product_ID|Gender|  Age|       Occupation|City_Category|Stay_In_Current_City_Years|    Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|
+-------+------------------+----------+------+-----+-----------------+-------------+--------------------------+------------------+------------------+------------------+------------------+
|  count|             59999|     59999| 59999|59999|            59999|        59999|                     59999|             59999|             59999|             41512|             18285|
|   mean|1002976.0793679894|      null|  null| null|8.109318488641478|         null|        1.4688091482649843| 0.411323522058701|  5.27722128702145| 9.847803044902678|12.665682253213015|
| stddev| 1726.537462009252|      null|  null| null|6.512547896936129|         null|        0.9878563919118692|0.4920777560533409| 3.739010427753423| 5.099974751816884| 4.116689141898426|
|    min|           1000001| P00000142|     F| 0-17|                0|            A|                         0|                 0|                 1|                10|                10|
|    max|           1006040|  P0099842|     M|  55+|                9|            C|                        4+|                 1|                 9|                 9|                 9|
+-------+------------------+----------+------+-----+-----------------+-------------+--------------------------+------------------+------------------+------------------+------------------+

In [10]:
print ('Describing the extra column "purchase" in train df')
train.describe(extra_in_train).show()

print ('Checking how many record has NULL Purchase')
not_null_purchase = train.where(train['Purchase'].isNotNull())
purchase_count = not_null_purchase.count()
print ('Purchase column in not in null in: ', purchase_count)

Describing the extra column "purchase" in train df
+-------+-----------------+
|summary|         Purchase|
+-------+-----------------+
|  count|            99999|
|   mean|9298.262472624727|
| stddev|4966.842464095267|
|    min|            10000|
|    max|             9999|
+-------+-----------------+

Checking how many record has NULL Purchase
Purchase column in not in null in:  99999

## Question 4

In [11]:
def count_not_null(c, nan_as_null=False):
    """Use conversion between boolean and integer
    - False -> 0
    - True ->  1
    """
    pred = col(c).isNotNull() & (~isnan(c) if nan_as_null else lit(True))
    return sum(pred.cast("integer")).alias(c)

In [12]:
print ('Train count: ', train.count())
null_in_train = train.agg(*[count_not_null(c) for c in train.columns])
null_in_train.toPandas().transpose()

Train count:  99999

                                0
User_ID                     99999
Product_ID                  99999
Gender                      99999
Age                         99999
Occupation                  99999
City_Category               99999
Stay_In_Current_City_Years  99999
Marital_Status              99999
Product_Category_1          99999
Product_Category_2          68817
Product_Category_3          30498
Purchase                    99999

In [13]:
print ('Test count: ', test.count())
null_in_test = test.agg(*[count_not_null(c) for c in test.columns])
null_in_test.toPandas().transpose()

Test count:  59999

                                0
User_ID                     59999
Product_ID                  59999
Gender                      59999
Age                         59999
Occupation                  59999
City_Category               59999
Stay_In_Current_City_Years  59999
Marital_Status              59999
Product_Category_1          59999
Product_Category_2          41512
Product_Category_3          18285

## Question 5

In [14]:
tmp_df = train.select(['User_ID','Age'])
tmp_df.show(5)

+-------+----+
|User_ID| Age|
+-------+----+
|1000001|0-17|
|1000001|0-17|
|1000001|0-17|
|1000001|0-17|
|1000002| 55+|
+-------+----+
only showing top 5 rows

In [15]:
distinct_age_train = train.select('Age').distinct()
print ('Distinct ages in train: ', distinct_age_train.count())

distinct_age_test = test.select('Age').distinct()
print ('Distinct ages in test: ', distinct_age_test.count())

distinct_age_train.show()

Distinct ages in train:  7
Distinct ages in test:  7
+-----+
|  Age|
+-----+
|18-25|
|26-35|
| 0-17|
|46-50|
|51-55|
|36-45|
|  55+|
+-----+

In [16]:
## collect all ages in a list and sort the list
_tmp = distinct_age_train.rdd.map(tuple).collect()
ages = [i[0] for i in _tmp]
ages = sorted(ages)
print (ages)

mapped_ages = {x:index for index, x in enumerate(ages)}
print ('mapped_ages: ', mapped_ages)

['0-17', '18-25', '26-35', '36-45', '46-50', '51-55', '55+']
mapped_ages:  {'0-17': 0, '18-25': 1, '26-35': 2, '36-45': 3, '46-50': 4, '51-55': 5, '55+': 6}

In [17]:
print ('Add a new column - with age category')

def age_category(value):
    return mapped_ages[value]

udf_age_category = udf(age_category, IntegerType())

Add a new column - with age category

In [18]:
print ('new column in train')
train_age = train.withColumn("age_category", udf_age_category("Age"))
print ('count: ', train_age.count())
train_age.select('Age','age_category').show(5)

print ('new column in test')
test_age = test.withColumn("age_category", udf_age_category("Age"))
print ('count: ', test_age.count())
test_age.select('Age','age_category').show(5)

new column in train
count:  99999
+----+------------+
| Age|age_category|
+----+------------+
|0-17|           0|
|0-17|           0|
|0-17|           0|
|0-17|           0|
| 55+|           6|
+----+------------+
only showing top 5 rows

new column in test
count:  59999
+-----+------------+
|  Age|age_category|
+-----+------------+
|46-50|           4|
|26-35|           2|
|36-45|           3|
|36-45|           3|
|26-35|           2|
+-----+------------+
only showing top 5 rows

## Question 6

In [19]:
clean_train = train.dropna(how='any')
print ('count in train after removing null', clean_train.count())

clean_test = test.dropna(how='any')
print ('count in test after removing null', clean_test.count())

count in train after removing null 30498
count in test after removing null 18285

In [20]:
subset_train = train.select('Age','Gender', 'Marital_Status', 'Product_Category_3')
print('count of subset_train', subset_train.count())

subset_train_unique = subset_train.dropDuplicates()
print('\ncount of subset_train_unique', subset_train_unique.count() )

## fill "-1" to all null values in "subset_train_unique"
print('\nfilled -1 to na')
subset_train_unique_filled = subset_train_unique.fillna(-1)
subset_train_unique_filled.show(5)

clean_subset_train_unique = subset_train_unique.dropna(how='any')
print('\ncount of clean_subset_train_unique', clean_subset_train_unique.count() )
clean_subset_train_unique.show(5)

count of subset_train 99999

count of subset_train_unique 401

filled -1 to na
+-----+------+--------------+------------------+
|  Age|Gender|Marital_Status|Product_Category_3|
+-----+------+--------------+------------------+
|26-35|     F|             1|                14|
|  55+|     M|             0|                16|
|18-25|     F|             1|                 8|
|51-55|     F|             0|                15|
|51-55|     M|             0|                 6|
+-----+------+--------------+------------------+
only showing top 5 rows


count of clean_subset_train_unique 375
+-----+------+--------------+------------------+
|  Age|Gender|Marital_Status|Product_Category_3|
+-----+------+--------------+------------------+
|26-35|     F|             1|                14|
|  55+|     M|             0|                16|
|18-25|     F|             1|                 8|
|51-55|     F|             0|                15|
|51-55|     M|             0|                 6|
+-----+------+--------------+------------------+
only showing top 5 rows

## Question 7

In [21]:
filter_purchase_train = train.filter(train.Purchase > 15000)
print (filter_purchase_train.count())
filter_purchase_train.show(3)

20030
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender|  Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1000001| P00248942|     F| 0-17|        10|            A|                         2|             0|                 1|                 6|                14|   15200|
|1000003| P00193542|     M|26-35|        15|            A|                         3|             0|                 1|                 2|              null|   15227|
|1000004| P00184942|     M|46-50|         7|            B|                         2|             1|                 1|                 8|                17|   19215|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 3 rows

In [22]:
age_gr_purchase_mean_train = train.groupby('Age').agg({'Purchase': 'mean'})
print (age_gr_purchase_mean_train.count())
age_gr_purchase_mean_train.show()

7
+-----+-----------------+
|  Age|    avg(Purchase)|
+-----+-----------------+
|18-25|9194.098236641628|
|26-35|9288.115425478094|
| 0-17|9135.605563480742|
|46-50| 9248.43816698054|
|51-55|9573.530554374025|
|36-45| 9342.46367146367|
|  55+|9396.550496056983|
+-----+-----------------+

In [23]:
age_count_train = train.groupby('Age').count()
age_count_train.show()

+-----+-----+
|  Age|count|
+-----+-----+
|18-25|18771|
|26-35|39532|
| 0-17| 2804|
|46-50| 7965|
|51-55| 7053|
|36-45|19943|
|  55+| 3931|
+-----+-----+

## Question 8

In [24]:
t1 = train.sample(withReplacement=False, fraction=0.4, seed=42)
t2 = train.sample(withReplacement=False, fraction=0.6, seed=43)
print (t1.count())
print (t2.count())

40214
59948

In [25]:
uni = t1.union(t2)
print (uni.count())

100162

## Question 9

In [26]:
train_new_purchase = train.withColumn('Purchase_new', train.Purchase /2.0)
print ('cols: ', train_new_purchase.columns)
train_new_purchase.select('Purchase','Purchase_new').show(5)

cols:  ['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category', 'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1', 'Product_Category_2', 'Product_Category_3', 'Purchase', 'Purchase_new']
+--------+------------+
|Purchase|Purchase_new|
+--------+------------+
|    8370|      4185.0|
|   15200|      7600.0|
|    1422|       711.0|
|    1057|       528.5|
|    7969|      3984.5|
+--------+------------+
only showing top 5 rows

In [27]:
train_new_purchase = train_new_purchase.drop('Purchase')
print ('cols: ', train_new_purchase.columns)

cols:  ['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category', 'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1', 'Product_Category_2', 'Product_Category_3', 'Purchase_new']

## Question 10

In [28]:
train.createOrReplaceTempView("train_table")
spark.sql("show tables in default").show()

+--------+-----------+-----------+
|database|  tableName|isTemporary|
+--------+-----------+-----------+
|        |train_table|       true|
+--------+-----------+-----------+

In [29]:
spark.sql('select Product_ID from train_table').show(5)

+----------+
|Product_ID|
+----------+
| P00069042|
| P00248942|
| P00087842|
| P00085442|
| P00285442|
+----------+
only showing top 5 rows

In [30]:
spark.sql('select Age, max(Purchase) from train_table group by Age').show(5)

+-----+-------------+
|  Age|max(Purchase)|
+-----+-------------+
|18-25|         9999|
|26-35|         9999|
| 0-17|         9998|
|46-50|         9998|
|51-55|         9999|
+-----+-------------+
only showing top 5 rows

In [31]:
spark.sql("DROP TABLE train_table")
spark.sql("show tables in default").show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
+--------+---------+-----------+